/**  color general  **/

$direction:rtl;
$float-right:left;
$float-left:right;
$color-def-three:#fafafa;
$color-def-four:#686868;
$color-def-five:#9f9f9f;

$left : right;
$right:left;


@mixin left($timedu) {
  right: $timedu;
}
@mixin right($timedu) {
  left: $timedu;
}

@mixin padding-right($num) {
  padding-left: $num;
}
@mixin padding-left($num) {
  padding-right: $num;
}
@mixin margin-left($num) {
  margin-right: $num;
}
@mixin margin-right($num) {
  margin-left: $num;
}
@mixin border-left($color) {
  border-right: 1px solid $color;
}
@mixin border-right($color) {
  border-left: 1px solid $color;
}
@mixin border-top($color) {
  border-top: 1px solid $color;
}
@mixin border-bottom($color) {
  border-bottom: 1px solid $color;
}

@import "css/sass-ar/_mixin.scss";
@import "css/sass-ar/_header.scss";
@import "css/sass-ar/_nav.scss";
@import "css/sass-ar/_slider.scss";
@import "css/sass-ar/_footer.scss";
@import "css/sass-ar/_footerw.scss";
@import "css/sass-ar/_componanet.scss";
@import "css/sass-ar/_block.scss";
@import "css/sass-ar/_layout.scss";
@import "css/sass-ar/_single.scss";
@import "css/sass-ar/_pages.scss";
@import "css/sass-ar/_shortcuts.scss";
@import "css/sass-ar/_bootstrap-rtl.scss";

/***    by default  ***/

html , body {
  height: 100%;
  font-family: Helvetica,Arial,sans-serif;

}

html, body, ul, ol {
    @include padding(0);
    @include margin(0);

}


.pointer:hover {
  cursor: url(../images/cursor.png), auto !important;
}


/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body.overflow-hidden {
  /* used when modal is visible */
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  @include transition(all 0.3s ease);
}

.nopadding {
  padding:0;
}
